forky.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://forkylab.github.io/xml-schema">
    <xs:attribute name="comment-attr-name" type="xs:string"/>
    <xs:attribute name="comment-attr-value" type="xs:string"/>
    <xs:attribute name="start-attrs" type="xs:string"/>
    <xs:attribute name="end-attrs" type="xs:string"/>
</xs:schema>
